.list-item{
  flex-grow: 1; 
  background: white;
  cursor: pointer;

  &__container {
    display: flex; 
    align-items: center; 
    flex-wrap: nowrap;
    font-size: 13px; 
    line-height: 16px; 
    padding: 6px 10px;
  }

  &__icon{
    width: 16px; 
    height: 16px; 
    flex-shrink: 0;  
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    display: flex;
    background: #4971FF;
    align-items: center; 
    justify-content: center;
    margin-right: 10px
  }

  &__text{
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    flex-wrap: nowrap; 
    text-wrap: nowrap; 
    white-space: pre
  }
}
